{% extends 'users/base.html' %}

{% block content %}

  <h1>My Ride Requests</h1>
  <div id="accordion1">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Joined Rides
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Seats Needed</th>
                <th>Can Be Shared</th>
                <th>Vehicle Type</th>
                <th>Special Requirements</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              {% for ride_request in ride_requests %}
                {% if ride_request.ride_status == 'Open' %}
                  <tr>
                    <td>{{ ride_request.origin }}</td>
                    <td>{{ ride_request.destination }}</td>
                    <td>{{ ride_request.date }}</td>
                    <td>{{ ride_request.time }}</td>
                    <td>{{ ride_request.seats_needed }}</td>
                    <td>{{ ride_request.can_be_shared }}</td>
                    <td>{{ ride_request.required_type }}</td>
                    <td>{{ ride_request.special_requirement }}</td>
                    <td>{{ ride_request.created_at }}</td>

                    <td>
                      <a href="{% url 'exit-request' ride_request.pk %}" class="btn btn-danger">Exit</a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion2">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Ongoing Rides
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Seats Needed</th>
                <th>Can Be Shared</th>
                <th>Vehicle Type</th>
                <th>Special Requirements</th>
                <th>Created At</th>
                <th>Driver's name</th>
                <th>License</th>
              </tr>
            </thead>
            <tbody>
              {% for ride_request in ride_requests %}
                {% if ride_request.ride_status == 'Ongoing' %}
                  <tr>
                    <td>{{ ride_request.origin }}</td>
                    <td>{{ ride_request.destination }}</td>
                    <td>{{ ride_request.date }}</td>
                    <td>{{ ride_request.time }}</td>
                    <td>{{ ride_request.seats_needed }}</td>
                    <td>{{ ride_request.can_be_shared }}</td>
                    <td>{{ ride_request.required_type }}</td>
                    <td>{{ ride_request.special_requirement }}</td>
                    <td>{{ ride_request.created_at }}</td>
                    <td>{{ ride_request.driver_name }}</td>
                    <td>{{ ride_request.driver_license }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="accordion3">
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Completed Rides
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion3">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Seats Needed</th>
                <th>Can Be Shared</th>
                <th>Vehicle Type</th>
                <th>Special Requirements</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              {% for ride_request in ride_requests %}
              {% if ride_request.ride_status == 'Completed' %}
                  <tr>
                    <td>{{ ride_request.origin }}</td>
                    <td>{{ ride_request.destination }}</td>
                    <td>{{ ride_request.date }}</td>
                    <td>{{ ride_request.time }}</td>
                    <td>{{ ride_request.seats_needed }}</td>
                    <td>{{ ride_request.can_be_shared }}</td>
                    <td>{{ ride_request.required_type }}</td>
                    <td>{{ ride_request.special_requirement }}</td>
                    <td>{{ ride_request.created_at }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}


